@charset "utf-8";

html {
	background: #EEE;
	text-align: center;
	font-family: sans-serif;
}

#gfx {
	width: 320px;
	height: 288px;
	background: gray;
	margin: 0 auto;
	position: relative;
}

#gfx > canvas, #fullscreenContainer > #fullscreen, #gfx > #canvasAltContainer > img {
	image-rendering: optimizeSpeed;			/*Give priority to the nearest-neighbor algorithm when rendering*/
	image-rendering: -moz-crisp-edges;		/*Forces firefox to stay in nearest-neighbor mode, which is what we want.*/
	image-rendering: -webkit-crisp-edges;	/*Here for when WebKit supports this.*/
	-ms-interpolation-mode: nearest-neighbor;
	shape-rendering: geometricPrecision;	/*We don't want the background leaking through*/
}

#gfx > #canvasAltContainer > img {
	display: block;
	display: inline-block;
	float: left;	/*Float and don't absolutely position, due to width & height rounding by many browsers*/
}

#gfx > canvas, #gfx > div#canvasAltContainer {
	position: absolute;
	z-index: 5;
	visibility: hidden;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}

.column {
	width: 26em; 
	margin: 0 auto;
	overflow: visible;
	text-align: left;
}

.option {
	text-align: center;
	background: #222;
	color: #FFF;
	width: 320px;
	margin: 0 auto;
}

.legend {
	width: 20%;
	float: left;
	padding: .25em 0;
}

.options {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.options li {
	padding: .25em 0;
	display: block;
	float: left;
	width: 20%;
	cursor: pointer;
}

.options li.selected {
	font-weight: bold;
}

.options li:hover {
	background: #333;
}

.clear {
	clear: both;
}

.next-toggler {
	font-weight: normal;
	font-family: monospace;
	color: #888;
}

h2 {
	font-size: 125%;
}

h3 {
	font-size: 100%;
	margin-bottom: 0;
	margin-top: .25em;
}

.boolean-settings {
	padding: 0;
	list-style-type: none;
}

#terminal_output {
	background: black;
	color: white;
	height: 15em;
	overflow: auto;
	font-family: monospace;
}

.load-options {
	list-style-type: none;
}

.load-options li {
	margin-bottom: .25em;
}

#fullscreenContainer {
	display: none;
}

#fullscreenContainer canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
}


#terminal > #terminal_output > .debug {
	color: rgb(255, 255, 255);
}

#terminal > #terminal_output > .debug:before {
	content: "<DEBUG> ";
	font-weight: bold;
}

#terminal > #terminal_output > .warning {
	color: rgb(255, 255, 0);
}

#terminal > #terminal_output > .warning:before {
	content: "<WARNING> ";
	font-weight: bold;
}

#terminal > #terminal_output > .error {
	color: rgb(0, 0, 255);
}

#terminal > #terminal_output > .error:before {
	content: "<ERROR> ";
	font-weight: bold;
}
